:root{
    /*colors*/

    --colorPrimary: #27AE60;
    --colorPrimary50: #93D7AF;
    --colorSecondary: #EB5757;

    /* gray scale pallet*/
    
    --grey100: #333333;
    --grey50: #828282;
    --grey20: #E0E0E0;
    --grey4: #BDBDBD;
    --grey0: #F5F5F5;
    
    /*feedback pallet*/
    --negative: #E60000;
    --warning: #FFCD07;
    --sucess: #168821;
    --information: #155bcb;
    /*background*/
    --bcgColor: #fff;
    --white: #fff;

}
.darkMode:root{
    /*colors*/

    --colorPrimary: #27AE60;
    --colorPrimary50: #93D7AF;
    --colorSecondary: #EB5757;

    /* gray scale pallet*/

    --grey100: #333333;
    --grey50: #828282;
    --grey20: #E0E0E0;
    --grey4: #BDBDBD;
    --grey0: #F5F5F5;

    /*feedback pallet*/
    --negative: #E60000;
    --warning: #FFCD07;
    --sucess: #168821;
    --information: #155bcb;
    /*background*/
    --bcgcolor: rgb(21, 21, 21);
}
