.inputDefault{
    width: 365px;
    height: 60px;
    background: var(--bcgColor);
    /* Gray 5 */
    
    border: 2px solid var(--grey20);
    border-radius: 8px;
    padding: 0px 10px 0px 20px;
}
.inputDefault:focus{
    border: 2px solid #333333;
    border-radius: 8px;
    outline: transparent;
}
