h1, h2, h3, h4, h5 ,h6, p, span, li{
    font-family: 'Inter', sans-serif;
    font-style: normal;
}
.heading1{
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
}
.heading2{
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
}
.heading3{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}
.heading4{
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}
.priceTag{
    font-weight: 600;
    font-size: 14px;
}
.headline{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.headlineRegular{
    font-weight: 500;
    font-size: 12px;
    line-height: 25px;
}
.body{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.bodyRegular{
    font-weight: 600;
    font-size: 12px;
    line-height: 25px;
}
.body600{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}
.body600SemiBold{
    font-weight: 600;
    font-size: 12px;
    line-height: 25px;
}
.captionRegular{
    font-weight: 600;
    font-size: 12px;
    line-height: 25px;
}
.caption{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
