.ulProdutos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 100px;
    gap: 9px;
}
@media (max-width: 684px){
    .ulProdutos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 50px;
        gap: 9px;
        overflow-y: scroll;
        height: 400px;
    }
    .ulProdutos::-webkit-scrollbar{
        width: 2px;
    }
    .ulProdutos::-webkit-scrollbar-track{
        background-color: var(--grey0);
    }
    .ulProdutos::-webkit-scrollbar-thumb{
        background-color: var(--grey4);
        border-radius: 10px;
        border: none;
        padding: 2px;
    }
}
@media (max-width:619px){
    .ulProdutos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 20px;
        gap: 9px;
        overflow-y: scroll;
        height: 400px;
    }
}
@media (max-width:619px){
    .ulProdutos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 20px;
        gap: 9px;
        overflow-y: scroll;
        height: 400px;
        width: 320px;
    }
}