.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.bodyPosition{
  display: flex;
  flex-direction: row;
  margin: 10px;
  margin-top: 30px;
}
@media (max-width:619px){
    .bodyPosition{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
  }
}
@media (max-width:619px){
    .bodyPosition{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 20px;
  }
}